# Netbeans
/nbproject/

# redbean php directory
/sys/ext/redbean

# application (created by install command)
/app/

# web data (created by install command. css, js etc go here)
/webdata/

# user data (created by install command. user owned files go here)
/userdata/

# to do file
TODO.txt